.shopping-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.shopping-cart h1 {
  font-size: 27px;
}

.shopping-cart .item {
  margin-top: 40px;
  align-items: center;
  justify-content: space-between;
}

.shopping-cart .details {
  align-items: start;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  text-align: left;
}

.shopping-cart .subtotal {
  min-width: 440px;
  width: 100%;
  margin-top: 400px;
  margin-bottom: 300px;
}

.shopping-cart .subtotal .flex {
  align-items: center;
  justify-content: space-between;
}

.shopping-cart .subtotal .btn-container {
  flex-direction: column;
}

.shopping-cart .subtotal button {
  width: 100%;
  border-radius: 0px;
  margin-top: 10px;
}

@media (max-width: 390px) {
  .shopping-cart .item {
    justify-content: center;
  }
  .shopping-cart .item img {
    max-width: 300px;
  }
  .shopping-cart .subtotal {
    min-width: 90%;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .shopping-cart .subtotal h1 {
    font-size: 18px;
  }
  .shopping-cart .subtotal button {
    font-size: 18px;
  }
}
