.page-logo {
  margin-top: 200px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  background-color: #c9d8d5;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 10px 30px;
}
.menu-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.searchbar {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  gap: 5px;
}
.searchbar input {
  border: none;
  background-color: transparent;
}

.searchbar button {
  background-color: transparent;
  border: none;
  font-family: "Lexend Giga", sans-serif;
  text-transform: capitalize;
}
.cart img {
  margin: 15px;
  width: 50px;
}

.personal details {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}
