.personal-details {
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 60px;
}

.personal-details input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.personal-details h1 {
  font-size: 27px;
  margin-top: 30px;
}
.personal-details button {
  border-radius: 0px;
  font-size: 24px;
  margin-bottom: 40px;
  margin-top: 15px;
}
