.detail-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin: 100px 0px;
}

.detail-item .detail-img {
  width: 400px;
}

.detail-item .detail-img p {
  text-align: center;
}

.detail-item .size-options .description {
  font-size: 15px;
  margin-bottom: 20px;
}

.detail-item .size-options button {
  font-size: 20px;
}

.detail-item .size-options .price {
  font-size: 20px;
  margin: 40px 0px;
}

.detail-item .details {
  margin-bottom: 40px;
  width: 400px;
}

.detail-item .details .title {
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 0px;
  border-bottom: 1px solid #cdcdcd;
  cursor: pointer;
}

.detail-item .details .description {
  display: none;
  padding: 10px 0px;
}

.review-stars img {
  width: 150px;
  margin-bottom: 30px;
}

.continue {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
}

@media (max-width: 390px) {
  .detail-item .detail-img img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .detail-item .detail-img img {
    width: 300px;
    margin: auto;
  }
  .detail-item .details {
    width: 100%;
  }

  .size-options {
    width: 90%;
    margin: auto;
  }
}
