.banner {
  width: 100%;
  height: 50vh;
  background-image: url("../../images/header.png");
  background-position: center;
  background-size: cover;
}

.categories {
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-top: 20px;
}

.category:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.category img {
  width: 250px;
  height: 250px;
}

.category p {
  font-family: "Lexend Giga", sans-serif;
  text-transform: capitalize;
  font-size: 25px;
  margin-top: 5px;
}

.bundles {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
  margin-top: 100px;
}

.bundle {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4fcfe;
  padding: 20px;
  border-radius: 30px;
  width: 50%;
}

.bundle img {
  width: 100%;
}

.bundle button {
  border: none;
  background-color: #b6dfe5;
  padding: 10px 15px;
  font-size: 25px;
  border-radius: 30px;
  color: white;
  font-family: "Lexend", sans-serif;
  text-transform: capitalize;
  margin-top: 150px;
}

.spotlight-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  justify-content: space-between;
  padding: 0px 20px;
}

.spotlight-container img {
  width: 500px;
  height: 500px;
}

.spotlight-container p {
  margin-bottom: 20px;
  margin-top: 50px;
}

.featured {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/dog\ pic.png");
  background-position: center;
  background-size: cover;
}

@media (max-width: 390px) {
  .banner {
    background-image: url("../../images/footer\ image.png");
  }
  .spotlight-container {
    flex-direction: column-reverse;
  }
  .spotlight-container p {
    margin-bottom: 20px;
    margin-top: 50px;
    max-width: 340px;
  }
  .spotlight-container img {
    width: 100%;
    height: 400px;
  }

  .category p {
    font-size: 18px;
  }

  .bundles {
    flex-direction: column;
    align-items: center;
  }
  .bundles button {
    margin-top: 0px;
  }

  .featured {
    height: 50vh;
  }
}
