.item-container {
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
}

.breadcrumb {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.dog-items {
  margin: auto;
  margin-top: 40px;
  flex-wrap: wrap;
  display: flex;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

.dog-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.dog-item img {
  width: 250px;
  height: 250px;
}

.dog-item p {
  font-family: "Lexend Giga", sans-serif;
  text-transform: capitalize;
  font-size: 25px;
  margin-top: 5px;
  align-content: center;
  text-align: center;
}

.dog-item .button-container {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.dog-item button {
  border: none;
  padding: 5px 15px;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 5px;
  color: white;
  font-family: "Lexend", sans-serif;
  text-transform: capitalize;
}

@media (max-width: 390px) {
  .dog-item p {
    font-size: 18px;
  }

  .dog-item .button-container {
    flex-direction: column;
  }

  .dog-item img {
    width: 170px;
    height: 170px;
  }
}
