.items img {
  width: 300px;
  height: 350px;
  cursor: pointer;
}

.items img:hover {
  transition: 1s;
  transform: scale(0.97);
}

.items .title {
  margin-bottom: 25px;
  margin-top: 20px;
}

.items {
  margin-left: 30px;
}
