.thank-you-elements {
  align-items: center;
  flex-direction: column;
  margin: 150px;
  gap: 20px;
}

.thank-you-elements img {
  width: 100px;
}

.thank-you-elements h2 {
  font-size: 30px;
}

.thank-you-elements p {
  font-size: 22px;
}
