h1 {
  font-size: 48px;
  font-family: "Lexend", sans-serif;
}

h2 {
  font-size: 40px;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-family: "Lexend Giga", sans-serif;
}

p {
  font-size: 32px;
  font-family: "Lexend", sans-serif;
}

a {
  font-size: 20px;
  font-family: "Lexend Giga", sans-serif;
  text-transform: capitalize;
  margin: 0px 10px;
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: bold;
}

@media (max-width: 390px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 27px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 14px;
  }
}
