/* Title Styles */
h1 {
  font-size: 48px;
  font-family: "Lexend", sans-serif;
}

h2 {
  font-size: 40px;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-family: "Lexend Giga", sans-serif;
}

/* body */
p {
  font-size: 32px;
  font-family: "Lexend", sans-serif;
}
a {
  font-size: 20px;
  font-family: "Lexend Giga", sans-serif;
  text-transform: capitalize;
  margin: 0px 10px;
}

/* Helper */
.bold {
  font-weight: bold;
}
