/* Title Styles */
h1 {
  font-size: 48px;
  font-family: "Lexend", sans-serif;
}

h2 {
  font-size: 40px;
  font-family: "Lexend", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  font-family: "Lexend Giga", sans-serif;
}

h4 {
  font-size: 30px;
  font-family: "Lexend", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #3e5444;
}
/* body */
p {
  font-size: 26px;
  font-family: "Lexend", sans-serif;
}
a {
  font-size: 20px;
  font-family: "Lexend Giga", sans-serif;
  text-transform: capitalize;
  margin: 0px 10px;
}

.breadcrumb a {
  color: black;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.continue-link {
  font-size: 24px;
  font-family: "Lexend", sans-serif;
}

.checkout.link {
  font-size: 24px;
  font-family: "Lexend", sans-serif;
}

.personal-details {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
}
